.hex-center {
    background: url(../mats/New_Hexes/Blank_Hex_250px.png);
    background-size: cover !important;
    transition: transform 0.3s ease;
}
.hex-label {
    font-size: xx-small;
    font-family: "Courier New", monospace;
    color: rgb(52, 83, 83);
    padding-left: 24%;
}

.hex-doodle {
    position: relative;
    top: 0px;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.hex-feature {
    top: 0px;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.hex-invisible{
    visibility: hidden !important;
    pointer-events: none;
}

.hex-faded {
    opacity: 0.1;
    background: url(../mats/blank_hex.png);
    background-size: cover !important;
}

.desert {
    background: url(../mats/New_Hexes/Desert_Hex.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.mountain {
    background: url(../mats/New_Hexes/Mountain_Hex.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.open {
    background: url(../mats/New_Hexes/Open_Hex.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.swamp {
    background: url(../mats/New_Hexes/Swamp_Hex.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.wooded {
    background: url(../mats/New_Hexes/Woods_Hex.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.snowcap {
    background: url(../mats/New_Hexes/Snowcap.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.wooded_hills {
    background: url(../mats/New_Hexes/WoodedHills_Hex.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

/*
.desert_stronghold {
    background: url(../mats/desert_stronghold.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.mountain_stronghold {
    background: url(../mats/mountain_stronghold.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.open_stronghold {
    background: url(../mats/open_stronghold.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.swamp_stronghold {
    background: url(../mats/swamp_stronghold.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.wooded_stronghold {
    background: url(../mats/wooded_stronghold.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.desert_town {
    background: url(../mats/desert_town.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.mountain_town {
    background: url(../mats/mountain_town.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.open_town {
    background: url(../mats/open_town.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.swamp_town {
    background: url(../mats/swamp_town.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.wooded_town {
    background: url(../mats/wooded_town.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}
*/

/*
.snowcap {
    background: url(../mats/snowcap_hex.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}
*/
/*

.wooded_hills_stronghold {
    background: url(../mats/wooded_hills_stronghold.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.wooded_hills_town {
    background: url(../mats/wooded_hills_town.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}
*/

.open_farm {
    background: url(../mats/open_farm.png) !important;
    top: 12%;
    left: 12%;
    background-size: cover !important;
    background-repeat: no-repeat;
}

/*
.vector_wooded   {background: url(../mats/vector_wooded_hex.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.vector_open     {background: url(../mats/vector_open_hex.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.vector_swamp    {background: url(../mats/vector_swamp_hex.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.vector_mountain {background: url(../mats/vector_mountain_hex.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.vector_desert   {background: url(../mats/vector_desert_hex.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
*/


.hex-center:hover {
    transform: translateY(-15%) !important;
}

.hovered {
    transform: translateY(-15%) !important;
}

.highlighted {
    border: 2px solid yellow;
    
    transform: translateX(-2px) !important; 
    transform: translateY(-2px) !important; /* to account for the border width. Not working yet. */
}

.cloud-container {
    position: absolute;
    top: 0;
    left: 0%;
    right: 120%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /* Allow events to pass through */
}

.cloud {
    position: absolute;
    opacity: 0.6;
    background-size: cover !important;
    z-index: 1000;
    pointer-events: none;
}

@keyframes float {
    0% {
        left: -50%; /* Start from the left edge of the container */
    }
    100% {
        left: 100%; /* Move to the right edge of the container */
    }
}

.hex-flower-container {
    width: 98%; 
    height: 98%; 
    background:rgba(250,250,250,.5);
    position: relative;
    left: 1%;
    top: 1%;
    overflow: hidden;
}

.hex-flower {
    position: absolute;
    background-size: cover !important;
    background-repeat: no-repeat;
}