@font-face {  
    src: url('../mats/ENDOR.ttf');
    font-family: "Endor";
}

@font-face {
    src: url('../mats/fonts/SouvenirB.ttf');
    font-family: "Souvenir_Bold";
}

.endor {
    font-family: 'Endor';
}

.souvenirB {
    font-family: 'Souvenir_Bold';
}

.mapLabel {
    font-family: 'Souvenir_Bold';
    font-size: 1.25 rem;    /* try to use rem for all text elements? */
    color: black;
    text-shadow: 2px 2px 0 white;
    position: relative;
    z-index: 2;
}

.h4 {
    font-family: 'Endor';
}

/* Define the column layout*/
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}

.sidebar {
    width: 190px;
    flex: none;
    background: url(../mats/stone_wall_2.png);
    border: 10px solid transparent;
    padding: 5px;
    border-image: url(../mats/wood_frame_crop.png) 75 round;
    border-image-width: 10px;
    max-height: 100%; /* Set a maximum height equal to the viewport height */
    overflow-y: hidden; /* Want to get rid of the scrollbar */ 
}

.main {
    flex: 1;
    background: url(../mats/lake_forest_background.jpg);
    background-size: cover;
    max-height: 100%;
    overflow-y: hidden;
}

.lava-background {
    position: absolute;
    color: red;
    background: linear-gradient(to bottom, #f06, rgb(255, 0, 0));
    display: none;
    overflow-y: hidden;
    z-index: 1;
    animation: smooth 1s ease-in;
}

.lava-goop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000070;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: blur(15px) contrast(30);
}



.lava-bubbles {
    position: relative !important;
    background: darkred;
    border-radius: 50%;
    animation: bubble 2s infinite;
    animation-timing-function: ease-in-out;
    /* animation: move 7s ease-in-out infinite alternate; */
    /* animation: grow 5s ease-in-out forwards infinite; */
}

/* keyframes move can be used to move shapes around with just CSS */
/* This section is not currently applied to anything on our page */
@keyframes move {
    0%{
        border-radius: 75% 25% 20% 80% / 34% 47% 53% 66%;
        transform: translateY(-50%);
    }
    100% {
        border-radius: 50%;
        transform: translateY(50%);
    }
}

/* Here we animate the +'ve and -'ve growth and Y translation of lava bubbles */
@keyframes grow {
    0% {
        width: 0;
        height: 0;
        background-color: transparent;
        transform: translateY(0);
    }
    50% {
        width: 3%;
        height: 3%;
        background-color: orange;
        transform: translateY(-3%);
    }
    70% {
        width: 4%;
        height: 4%;
        background-color: rgb(255, 225, 148);
        transform: translateY(-4%);
    }
    100% {
        width: 0;
        height: 0;
        background-color: transparent;
        transform: translateY(2%);
    }
}

/* This 'bubbling' animation is also applied to the lava bubbles */
@keyframes bubble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05) translateY(-5px);
        background-color: #FF0000; /* Darker lava color */
    }
    100% {
        transform: scale(1);
        background-color: #FF4500;
    }
}

/* This texture animation is applied to the lava-goop container for the lava bubbles */
@keyframes texture {
    0%, 100% {
        background: linear-gradient(to bottom, #FF4500, #FF4500);
    }
    25% {
        background: linear-gradient(to bottom, #FF4500, #FF0000, #FF4500);
    }
    50% {
        background: linear-gradient(to bottom, #FF4500, #FF0000, #FF4500);
    }
    75% {
        background: linear-gradient(to bottom, #FF4500, #FF0000, #FF4500);
    }
}

@keyframes smooth {
    0% { opacity: 0;}
    50% { opacity: 0.25;}
    100% { opacity: 1;}
}

/* Style for rows*/
.row {
    text-align: center;
    display: inline-flex;
    text-align:center;
}

.dnd-button {
    background: url(../mats/red_background.png);
    color: goldenrod;
    border: 3px solid #350f0f;
    font-size: large;
    margin: 15px; 
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 10px;
    border-radius: 8%;
}

.dnd-button::first-letter {
    color:white;
}

.dnd-button:hover {
    background: url(../mats/red_background.png);
    color:white;
    border: 3px solid #350f0f;
}

.hex-gen-page {
    width: 98%; 
    height: 98%; 
    overflow-y: auto; 
    background:rgba(250,250,250,.5);
    position: relative;
    left: 1%;
    top: 1%;
}

.content {
    display: block; /* Hide content initially */
    padding: 20px;
}

.over-background {
    background-color: rgba(255, 255, 255, 0.66);
    border: 4px solid #40150ccc;
    border-radius: 7px;
    padding: 5px;
    margin-top: 5px;
    overflow-y: hidden;
}

.center-text {
    text-align: center;
}

.arrows {
    width: 30px;
    margin-left:10px;
    margin-right:10px;
}

.music-button {
    filter:opacity(0.5);
    border:2px solid transparent;
}

.music-button:hover {
    border:2px solid goldenrod;
}