@font-face {  
    src: url('../mats/ENDOR.ttf');
    font-family: "Endor";
}

@font-face {
    src: url('../mats/fonts/SouvenirB.ttf');
    font-family: "Souvenir_Bold";
}

.endor {
    font-family: 'Endor';
}

.souvenirB {
    font-family: 'Souvenir_Bold';
}

.mapLabel {
    font-family: 'Souvenir_Bold';
    font-size: 1.25 rem;    /* try to use rem for all text elements? */
    color: black;
    text-shadow: 2px 2px 0 white;
    position: relative;
    z-index: 2;
}

.h4 {
    font-family: 'Endor';
}

/* Define the column layout*/
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}

.sidebar {
    /* width: clamp(110px, 15%, 190px); */
    width: 15%;
    height: 100vh;
    flex: none;
    background: url(../mats/stone_wall_2.png);
    border: 10px solid transparent;
    padding: 5px;
    border-image: url(../mats/wood_frame_crop.png) 75 round;
    border-image-width: 10px;
    max-height: 100%; /* Set a maximum height equal to the viewport height */
    overflow-y: hidden; /* Want to get rid of the scrollbar */ 
    /* TEST */
    float: left;
}

.main {
    flex: 1;
    background: url(../mats/lake_forest_background.jpg);
    background-size: cover;
    max-height: 100%;
    overflow-y: hidden;
}

.lava-background {
    position: absolute;
    color: red;
    /*background: linear-gradient(to bottom, #f06, rgb(255, 0, 0));*/
    background: url(../mats/lava_piece.png);
    /*background-size: 5%;*/
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 1;
    transition: ease 2s;
    /*
    animation: smooth 5s ease-in;
    background-blend-mode: lighten;
    */
}

.lava-goop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../mats/black_ink_blotches.jpg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: blur(1px) contrast(30);
    animation: moveNoise 3s ease-in-out infinite, strobe 1s ease-in-out infinite;
    animation-timing-function: ease-in-out;
    mix-blend-mode: color;
    transition: ease;
}

@keyframes strobe {
    0%{
        opacity: 0
    }
    50%{
        opacity: 0.3
    }
    100%{
        opacity: 0
    }
}

@keyframes moveNoise {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(5px, 5px);
    }
    40% {
        transform: translate(2px, -5px);
    }
    60% {
        transform: translate(-7px, 2px);
    }
    80% {
        transform: translate(2px, 2px);
    }
    100% {
        transform: translate(-2px, -4px);
    }
}

@keyframes grow {
    0% {
        width: 100%;
        height: 100%;
    }
    25% {
        width: 125%;
        height: 125%;
    }
    50% {
        width: 75%;
        height: 75%;
    }
    75% {
        width: 90%;
        height: 90;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

.lava-bubbles {
    position: relative !important;
    background: darkred;
    border-radius: 50%;
    animation: bubble 2s infinite;
    animation-timing-function: ease-in-out;
}

/* keyframes move can be used to move shapes around with just CSS */
/* This section is not currently applied to anything on our page */

/* Here we animate the +'ve and -'ve growth and Y translation of lava bubbles */
@keyframes grow {
    0% {
        width: 0;
        height: 0;
        background-color: transparent;
        transform: translateY(0);
    }
    50% {
        width: 3%;
        height: 3%;
        background-color: orange;
        transform: translateY(-3%);
    }
    70% {
        width: 4%;
        height: 4%;
        background-color: rgb(255, 225, 148);
        transform: translateY(-4%);
    }
    100% {
        width: 0;
        height: 0;
        background-color: transparent;
        transform: translateY(2%);
    }
}

/* This 'bubbling' animation is also applied to the lava bubbles */
@keyframes bubble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05) translateY(-5px);
        background-color: #FF0000; /* Darker lava color */
    }
    100% {
        transform: scale(1);
        background-color: #FF4500;
    }
}

/* This texture animation is applied to the lava-goop container for the lava bubbles */
@keyframes texture {
    0%, 100% {
        background: linear-gradient(to bottom, #FF4500, #FF4500);
    }
    25% {
        background: linear-gradient(to bottom, #FF4500, #FF0000, #FF4500);
    }
    50% {
        background: linear-gradient(to bottom, #FF4500, #FF0000, #FF4500);
    }
    75% {
        background: linear-gradient(to bottom, #FF4500, #FF0000, #FF4500);
    }
}

@keyframes smooth {
    0% { opacity: 0;}
    50% { opacity: 0.25;}
    100% { opacity: 1;}
}

/* Style for rows*/
.row {
    text-align: center;
    display: inline-flex;
    text-align:center;
}

.dnd-button {
    background: url(../mats/red_background.png);
    color: goldenrod;
    border: 3px solid #350f0f;
    font-size: clamp(small, medium, large);
    margin: 15px; 
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 10px;
    border-radius: 8%;
}

.dnd-button::first-letter {
    color:white;
}

.dnd-button:hover {
    background: url(../mats/red_background.png);
    color:white;
    border: 3px solid #350f0f;
}

.hex-gen-page {
    width: 98%; 
    height: 98%; 
    /* overflow-y: auto; */
    
    /*
    width: calc(100% - 200px);
    height: 100vh;
    NOT NECESSARY BECAUSE THIS DIV IS ALREADY SEPERATE FROM SIDEBAR */

    float: left;
    overflow: hidden;
    /* overflow: hidden; */ /* Apply once panning works */
    background:rgba(250,250,250,.5);
    position: relative;
    left: 1%;
    top: 1%;
    transition: transform linear;
}

.hex-layer {
    display: block;
    position: absolute;
    z-index: 1;
    transition: transform ease-in-out;
}

.zoomed {
    transform: scale(1.5); /* Adjust the zoom level as needed */
}

.content {
    display: block; /* Hide content initially */
    padding: 20px;
}

.over-background {
    background-color: rgba(255, 255, 255, 0.66);
    border: 4px solid #40150ccc;
    border-radius: 7px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow-y: hidden;
}


.center-text {
    text-align: center;
}

.arrows {
    width: 30px;
    margin-left:10px;
    margin-right:10px;
}

.music-button {
    filter:opacity(0.5);
    border:2px solid transparent;
}

.music-button:hover {
    border:2px solid goldenrod;
}

.waterways {
    background: lightblue;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px
}

.zoomlayer {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
}